{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h4 class="text-center font-weight-light my-3">{{ gettext('Notification Settings') }}</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('settings.notification', notification_name=notification.name) }}"
                    novalidate>
                    {{ form.hidden_tag() }}

                    <!-- Notification Name -->
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-floating mb-3 mb-md-0">
                                <input type="text" class="form-control"
                                    value="{{ get_translation('notification.name', form.name.data) }}" disabled>
                                <label>{{ get_translation('form.NotificationForm.name', form.name.label.text) }}</label>
                                <input type="hidden" name="name" value="{{ form.name.data }}">
                            </div>
                        </div>
                    </div>

                    <!-- Subject -->
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.subject(class="form-control", placeholder="Subject") }}
                                <label>{{ get_translation('form.NotificationForm.subject', form.subject.label.text)
                                    }}</label>
                            </div>
                        </div>
                    </div>

                    <!-- Send Via -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.send_via(class="form-control", disabled=True) }}
                                {{form.send_via.label}}
                                <input type="hidden" name="send_via" value="{{ form.send_via.data }}">
                            </div>
                        </div>

                        <!-- Content Type -->
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.content_type(class="form-control", disabled=True) }}
                                {{form.content_type.label}}
                                <input type="hidden" name="content_type" value="{{ form.content_type.data }}">
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-floating mb-3 mb-md-0">
                                <textarea class="form-control" style="height: 80px;"
                                    disabled>{{ get_translation('notification.description', form.description.data) }}</textarea>
                                {{form.description.label}}
                                <input type="hidden" name="description" value="{{ form.description.data }}">
                            </div>
                        </div>
                    </div>

                    <!-- Body -->
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-floating mb-3 mb-md-0">
                                {{ form.body(class="form-control", placeholder="Body", style="height: 200px;") }}
                                {{form.body.label}}
                            </div>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="mt-4 mb-0">
                        <div class="row gx-2 gy-2">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary w-100">{{ get_translation('button.save',
                                    'Save') }}</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-secondary w-100"
                                    onclick="location.href='{{ url_for('settings.notifications') }}'">
                                    {{ get_translation('button.back', 'Back') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}