{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h4>Notification Templates</h4>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr>
                <td>{{ notification.name }}</td>
                <td>{{ notification.description }}</td>
                <td>
                    <a href="{{ url_for('settings.notification', notification_name=notification.name) }}" class="link-secondary">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}