{% extends "base.html" %}

{% block content %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">{{ gettext('Change Password') }}</h3>
                        </div>
                        <div class="card-body">
                            <form id="PasswordChange-form" method="POST" action="{{ url_for('auth.change_password') }}"
                                novalidate class="ajax-redirect" data-redirect="{{ url_for('auth.dashboard') }}">
                                {{ form.hidden_tag() }}
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            {{form.old_password(class="form-control",placeholder="Old Password")}}
                                            {{form.old_password.label}}
                                            {% if form.old_password.errors %}
                                            <div class="text-danger">
                                                {% for error in form.old_password.errors %}
                                                <small>{{ error }}</small>
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            {{form.password(class="form-control",placeholder="Password")}}
                                            {{form.password.label}}
                                            {% if form.password.errors %}
                                            <div class="text-danger">
                                                {% for error in form.password.errors %}
                                                <small>{{ error }}</small>
                                                {% endfor %}
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating mb-3 mb-md-0">
                                            {{form.confirm_password(class="form-control",placeholder="confirm")}}
                                            {{form.confirm_password.label}}
                                            {% if form.confirm_password.errors %}
                                            <div class="text-danger">
                                                {% for error in form.confirm_password.errors %}
                                                <small>{{ error }}</small>
                                                {% endfor %}
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 mb-0">
                                    <div class="row">
                                        <div class="col-md-6"><button type="submit" class="btn btn-primary w-100">
                                            {{ gettext('Change Password') }}</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{{ url_for('auth.dashboard') }}" class="btn btn-secondary w-100 ajax-link">{{ gettext('Cancel') }}</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}