{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-message-container position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050;">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show flash-message shadow" role="alert">
                    {{ get_translation('error', message|string)|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<script>
    // فید شدن پیام‌های فلش پس از 5 ثانیه
    document.addEventListener("DOMContentLoaded", function () {
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(message => {
            setTimeout(() => {
                message.classList.add('fade'); // اضافه کردن کلاس fade
                message.classList.remove('show'); // حذف کلاس show برای شروع فید
                setTimeout(() => message.remove(), 1000); // حذف کامل پیام پس از 1 ثانیه
            }, 5000); // زمان انتظار 5 ثانیه
        });
    });
</script>
